/* GENERAL LAYOUT */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: #f3efe6;
    display: flex;
    justify-content: center;
}

.container {
    margin: 40px;
    background: white;
    width: 400px;
    padding: 25px 30px;
    border-radius: 15px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
}

.container h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
    color: black;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.card input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #bbb;
    font-size: 16px;
}

.btn {
    padding: 10px;
    background: #5a67d8;
    color: white;
    border: none;
    font-size: 17px;
    border-radius: 8px;
    cursor: pointer;
}

.list {
    margin-top: 20px;
    list-style: none;
    background: #fafafa;
    padding: 10px;
    border-radius: 10px;
}

.list li {
    display: flex;
    justify-content: space-between;
    padding: 8px 5px;
    border-bottom: 1px solid #e6e6e6;
}


.name {
    font-weight: 600;
    color: #333;
}

.price {
    color: #444;
}

.calc-btn {
    margin-top: 20px;
    width: 100%;
    background: #48bb78;
}

.expenseSummary {
    margin-top: 20px;
    background: #f7fafc;
    padding: 15px;
    border-radius: 10px;
}

.expenseSummary p {
    font-size: 17px;
    margin: 5px 0;
}